@charset "utf-8";



/* reset(초기화) */
html,
body {
    height: 100%;
}
body,
div,
p,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
button,
input {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4 {
    font-size: 12px;
}
ul,
li,
ol {
    list-style: none;
}
img,
fieldset,
iframe {
    border: 0;
}
img {
    vertical-align: top;
}
table {
    border-collapse: collapse;
}



/* 기본설정 */
body {
    font-size: 15px;
    font-family: "Roboto", "Noto Sans KR";
}
a {
    color: #000;
    text-decoration: none;
}



/* 스킵 */
#skip_navigation a {
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1px;
    height: 1px;
    background: #000;
    color: #fff;
    text-align: center;
}
#skip_navigation a:focus {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
}



/* 레이아웃 */
/* 헤더 */
#header {
    position: relative;
    width: 100%;
    background: #fff;
    border-bottom: 4px solid #000;
    /* border:2px dashed black; */
}
#header .header_inner {
    position: relative;
    max-width: 1200px;
    min-width: 500px;
    height: 134px;
    margin: 0 auto;
    /* border:2px dashed pink; */
}
#header .header_inner:after {
    display: block;
    clear: both;
    content: "";
}

/* 비주얼 */
#visual {
    height: 648px;
    margin-top: 48px;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    /* border:2px dashed yellow; */
}
#visual .visual_inner {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    /* border:2px dashed gray; */
}

/* 컨텐츠 */
#contents {
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 12px;
    padding-bottom: 48px;
    /* border:2px dashed skyblue; */
}

/* 푸터 */
#footer {
    height: 181px;
    background: #000;
    color: #fff;
}
#footer .footer_inner {
    margin: 0 auto;
    max-width: 1200px;
    /* border:2px dashed hotpink; */
}



/* 주요 CSS */
/* 헤더 */
#header h1 {
    position: relative;
    top: 19px;
    float: left;
    height: 100%;
}
#header .gnb {
    position: absolute;
    right: 0px;
    top: 90px;
    min-width: 500px;
    height: 17px;
    /* border:2px dashed gray; */
}
#header .gnb li {
    float: left;
    margin-left: 76px;
    font-size: 17px;
    font-weight: 900;
}
#header .gnb li a {
    transition: 0.2s;
    padding: 5px 10px;
    color: #4e4e4e;
}
#header .gnb li a:hover {
    color: #fff;
    background: #000;
}

#header .top_gnb {
    position: absolute;
    right: 0;
    top: 29px;
    font-size: 14px;
}
#header .top_gnb li {
    transition: 0.2s;
    float: left;
    padding-left: 14px;
}
#header .top_gnb li:hover {
    opacity: 0.5;
}
#header .top_gnb .login {
    padding: 6px;
    color: #fff;
    background: #262626;
    border-radius: 5px;
}

/* 비주얼 */
.typo {
    position: absolute;
    top: 132px;
}

#visual .typo1 {
    color: #222;
    letter-spacing: -7px;
}
#visual .typo1 .t1_1 {
    font-size: 91px;
    font-weight: 100;
}
#visual .typo1 .t1_2 {
    font-size: 121px;
    font-weight: 700;
    line-height: 121px;
}

#visual .typo2 {
    font-size: 28px;
    line-height: 36px;
    padding-top: 38px;
}

/* 컨텐츠 */
#contents ul {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

#contents li {
    overflow: hidden;
}

#contents .img_1 {
    padding-bottom: 12px;
}

#contents img {
    transition: 0.2s;
}
#contents img:hover {
    opacity: 0.8;
    transform: scale(1.1, 1.1);
}

/* 푸터 */
#footer .footer_inner {
    position: relative;
    top: 60px;
}
#footer p {
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 500;
    line-height: 25px;
    white-space: nowrap;
}
